.tasks-list__item {
  position: relative;
}

.tasks-list__icon {
  position: absolute;
  right: 1rem;
}

.line-through {
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .tasks-list__icon {
    right: 13rem;
    cursor: pointer;
  }
}
