.form__field {
  text-align: center;
}

.form__input {
  width: 65%;
  padding: 1.3em 10em 1.3em 1em;
  outline: none;
  border-radius: 10px;
  margin-right: 1rem;
  border: 1px solid var(--gray-color);
}

@media screen and (min-width: 768px) {
  .form__input {
    width: 45%;
    padding-right: 15em;
  }
}

.form__btn {
  padding: 1.3em 3em;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .form__btn {
    cursor: pointer;
  }
}
