.tasks-list {
  margin-top: 2rem;
  padding: 0;
  position: relative;
}

.tasks-list__item {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

/* Customize the label (the container) */
.tasks-list__label {
  position: relative;
  left: 1rem;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
}

/* Hide the browser's default checkbox */
.tasks-list__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.tasks-list__input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.tasks-list__input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .tasks-list__label {
    left: 12.8rem;
  }
}

.line-through {
  text-decoration: line-through;
}

.btn-delete {
  color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .btn-delete {
    cursor: pointer;
    right: 13rem;
  }
}
